
$background_color_white: #FFFFFF;
$button_background_color: #337ab7;
$background_color_gray: #F7F7F7;
$section_background_color: #3498DB;
$slider_dots_background_color: #666666;

$main_text_color: #737373;
$link_text_color_hover: #337ab7;
$button_text_color: #FFFFFF;
$title_color_black: #333;
$text_color_white: #FFFFFF;
$text_color_blue: #337ab7;


